<div ng-controller="weatherCtrl">

    <div class="container text-center">

        <div class="row well text-left">
            <div class="col-sm-6 ">
                <h1 class="app-title">TwitchTV App</h1>
            </div>

            <div class="col-sm-5 col-sm-offset-1 well">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="search">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <div class="container">

        <div class="row well">
            <div class="col-sm-8 ">
                <div class="channels-div ">


                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="sidebar">
{{a}}
                </div>
            </div>
        </div>

    </div>


    <a class='glyphicon glyphicon-picture' href='http://glyphicons.com/'>  Glyphicons Icons Used </a>
</div>
