<div class='row '>
    <div class="col-md-4 app-title-div well ">
        <h1 class='app-title text-left'>TwitchTV App</h1>
    </div>

    <div class='col-md-8 tool-bar well'>
      <div class='col-md-6 '>

      </div>
      <div class='col-md-6'>
        <form ng-submit='searchChannel(search)' class="search-form">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search" ng-model='search'>
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
      </div>


    </div>


</div>

<channel-detail  ng-show="searched"></channel-detail>
<channel-list ></channel-list>




<footer class="row">
    <div class="col-md-12  Footer">
        <p>Created by Achilles Moraites &copy; 2018</p>
    </div>
</footer>
